<div class="toolbar container-flex" role="banner">
    <div class="container-flex" [routerLink]="'/'" style="cursor: pointer;">
        <img
        width="40"
        alt="App Logo"
        src="../assets/img/zeraki-logo.png"
        />
        <h2>_Social</h2>
    </div>
    <div style="flex-grow: 8;"></div>
    <div *ngIf="deviceInfo?.isDesktop" style="background: white; border-radius: 15%; font-size: smaller;margin-right: 5px; padding: 0;">
      <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="javascript:void" title="{{me.displayName}}">
        <app-profile-avator [person]="me" [showUsername]="true" [showDisplayname]="false" [customStyle]="'padding: 5px 2px;'"></app-profile-avator>
      </a>
    </div>
    <div (click)="ToggleSideMenu()" *ngIf="!deviceInfo?.isDesktop" style="margin-right: 7px; font-size: x-large; cursor: pointer;">
      <i class="fa {{ showSideMenu ? 'fa-times' : 'fa-bars' }}"></i>
    </div>
      
  </div>
  
  <div *ngIf="!deviceInfo?.isDesktop && showSideMenu" class="" style="position: absolute; width: 99%; height: 100vh; background: white; overflow-y: auto;">
    <app-left-aside (ProfileClicked)="ToggleSideMenu()"></app-left-aside>
  </div>