.profile-link {
    padding: 15px 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.avator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid .5px gray;
    margin: 0 5px;
  }

.avi-sm {
    width: 25px;
    height: 25px;
}